:root{
    --cor_principal:  #98D8C8;
    --cor_secundaria: #8de3a4;
    --cor_tercearia: #FF9F1C;
    --cor_terHover: #e08500;
    --tamanho_fonte1: 1rem;
    --box_shadow: 8px 8px 0px 9px rgba(0, 0, 0, 0.2); 
    --footer: #303030;
    --texto: #666666;

    --mint-green-light: rgba(152, 216, 200, 0.2);
}

/*
===============================================================================================================
Introdução
===============================================================================================================
*/

.introducao{
    width: 90%;
    margin: auto;
    margin-top: 8%;
    display: flex;
    gap: 10%;
}
.intro_texto{
    width: 200%;
    font-size: 120%;
}
#cadastro-intro{
    border: none;
    background-color: var(--cor_tercearia);
    transition: 0.3s ease-in-out;
    padding: 2%;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-family: 'Inter' , sans-serif;
    font-size: 110%;
    transition: 0.3s ease-in-out;
}
#cadastro-intro:hover{
    transform: scale(1.05);
    background-color: var(--cor_terHover);
}
.intro-img{
    position: relative;
    display: inline-block;
}
.intro-img img{
    display: block;
    width: 110%;
    background-color: var(--cor_principal);
    padding: 14px;
    border-radius: 5px;
}
.etiqueta{
    position: absolute;
    right: -50px;
    bottom: -20px;
    width: 190px;
    background-color: #fff7af;
    padding: 10px;
    font-size: 120%;
    color: var(--texto);
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
}

/*
===============================================================================================================
Estilo de aprendizado
===============================================================================================================
*/
.estilo-aprendizado{
    margin-top: 10%;
}
.intro-ea{
    text-align: center;
    font-size: 120%;
    width: 60%;
    margin: auto;
}
.container-ea{
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 3%;
}
.titulo-ea{
    text-align: center;
    background-color: var(--mint-green-light);
    padding-bottom: 1%;
}
.titulo-ea h2{
    background-color: #98D8C8;
    width: 90%;
    margin: auto;
    margin-bottom: -10px;
    padding: 3%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.titulo-ea p{
    font-size: 100%;
    text-align: center;
}
.card-ea{
    width: 30%;
    border: var(--cor_principal) 1px solid;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.card-ea:hover{
    transform: scale(1.06);
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.2);
}
.card-icon {
  display: inline-flex;
  color: var(--cor_principal);
  margin-bottom: 3%;
}
.lista-ea{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-left: -6%;
}
.item-ea{
    color: var(--texto);
    font-family: 'Inter' , sans-serif;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.feature-icon {
  color: var(--cor_tercearia);
  font-weight: bold;
}