:root{
    --cor_principal:  #98D8C8;
    --cor_secundaria: #8de3a4;
    --cor_tercearia: #FF9F1C;
    --cor_terHover: #e08500;
    --tamanho_fonte1: 1rem;
    --box_shadow: 8px 8px 0px 9px rgba(0, 0, 0, 0.2); 
    --footer: #303030;
    --texto: #666666;

    --mint-green-light: rgba(152, 216, 200, 0.2);
}

/*
===============================================================================================================
Introdução
===============================================================================================================
*/

.introducao{
    width: 90%;
    margin: auto;
    margin-top: 8%;
    display: flex;
    gap: 10%;
}
.intro_texto{
    width: 200%;
    font-size: 120%;
}
#cadastro-intro{
    border: none;
    background-color: var(--cor_tercearia);
    transition: 0.3s ease-in-out;
    padding: 2%;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-family: 'Inter' , sans-serif;
    font-size: 110%;
    transition: 0.3s ease-in-out;
}
#cadastro-intro:hover{
    transform: scale(1.05);
    background-color: var(--cor_terHover);
}
.intro-img{
    position: relative;
    display: inline-block;
}
.intro-img img{
    display: block;
    width: 110%;
    background-color: var(--cor_principal);
    padding: 14px;
    border-radius: 5px;
}
.etiqueta{
    position: absolute;
    right: -50px;
    bottom: -20px;
    width: 190px;
    background-color: #fff7af;
    padding: 10px;
    font-size: 120%;
    color: var(--texto);
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
}

/*
===============================================================================================================
Estilo de aprendizado
===============================================================================================================
*/
.estilo-aprendizado{
    margin-top: 10%;
}
.intro-ea{
    text-align: center;
    font-size: 120%;
    width: 60%;
    margin: auto;
}
.container-ea{
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 3%;
}
.titulo-ea{
    text-align: center;
    background-color: var(--mint-green-light);
    padding-bottom: 1%;
}
.titulo-ea h2{
    background-color: #98D8C8;
    width: 90%;
    margin: auto;
    margin-bottom: -10px;
    padding: 3%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.titulo-ea p{
    font-size: 100%;
    text-align: center;
}
.card-ea{
    width: 30%;
    border: var(--cor_principal) 1px solid;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.card-ea:hover{
    transform: scale(1.06);
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.2);
}
.card-icon {
  display: inline-flex;
  color: var(--cor_principal);
  margin-bottom: 3%;
}
.lista-ea{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-left: -6%;
}
.item-ea{
    color: var(--texto);
    font-family: 'Inter' , sans-serif;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.feature-icon {
  color: var(--cor_tercearia);
  font-weight: bold;
}

/*
===============================================================================================================
Teste
===============================================================================================================
*/
.teste-aprendizado{
    background-color: var(--cor_principal);
    width: 60%;
    margin: auto;
    margin-top: 8%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.teste-aprendizado button{
    background-color: var(--cor_tercearia);
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: 0.4s ease-in-out;
}
.teste-aprendizado button a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Inter' , sans-serif;
    font-size: 130%;
}
.teste-aprendizado button:hover{
    transform: scale(1.04);
    background-color: var(--cor_terHover);
}

/*
===============================================================================================================
Tabs estilo de aprendizado
===============================================================================================================
*/
.tipos-aprendizado{
    width: 70%;
    margin: auto;
    margin-top: 8%;
}
.tab-botao{
    margin: -2px;
    width: 33.3%;
    border: none;
    background-color: transparent;
    padding-block: 1.5%;
    font-size: 110%;
    font-weight: bold;
    font-family: 'Inter' , sans-serif;
    color: var(--texto);
    cursor: pointer;
    border-bottom: 1px solid #a7a7a794
}
.tab-botao.ativo{
    background-color: var(--mint-green-light);
    border-bottom: 3px solid var(--cor_principal);
    cursor: auto;
}
.tab-conteudo{
    width: 100%;
    margin-top: 5%;
    padding: 3%;
    background-color: white;
    border-radius: 15px;
    display: none;
}
.tab-conteudo.ativo{
    display: block;
}
.tab-conteudo h3{
    background-color: var(--cor_principal);
    width: 100%;
    padding: 1.4%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 48%;
    border: 1px solid #7775;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: visible;
    transition: 0.4s ease-in-out;
}
.card:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.img-div{
    width: 300px;
    margin: auto;
    margin-top: 5%;
    position: relative;
}
.card img{
    width: 300px;
    height: 180px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    margin: auto;
}
.etiqueta-m{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    background-color: #fff7af;
    color: var(--texto);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    font-size: 100%;
    padding: 5px 12px;
}
.card h4{
    font-size: 120%;
    margin: 0;
}
.texto-card{
    width: 90%;
    margin: auto;
    margin-top: 2%;
}
.card-botao{
    color: var(--cor_tercearia);
    background-color: transparent;
    border: 2px solid var(--cor_tercearia);
    font-weight: bold;
    font-size: 120%;
    padding: 8px 15px;
    border-radius: 7px;
    margin-top: 4%;
    margin: 10px 10px;
    transition: 0.5s ease-in-out;
}
.card-botao:hover{
    transform: scale(1.03);
    background-color: var(--cor_tercearia);
    color: white;
}