:root{
    --cor_principal:  #98D8C8;
    --cor_secundaria: #8de3a4;
    --cor_tercearia: #E5C51B;
    --cor_terHover: #b49703;
    --tamanho_fonte1: 1rem;
    --box_shadow: 8px 8px 0px 9px rgba(0, 0, 0, 0.2); 
    --footer: #303030;
    --texto: #666666;

    --mint-green-light: rgba(152, 216, 200, 0.2);
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(250, 249, 249);
}

h1, h2, h3, h4 {
    font-family: 'Poppins' , sans-serif;
    color: var(--texto);
    text-align: center;
}

h1{
    font-size: 170%;
}

.titulo{
    font-size: 200%;
}

p{
    font-family: 'Inter' , sans-serif;
    color: var(--texto);
}

/*
==========================================================================================================
Header
==========================================================================================================
*/
header{
    background-color: var(--cor_principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1%;
}

.logo{
    width: 200px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left:-20px;
}

.navbar{
    width: 66%;
    justify-content: right;
}

.navbar ul{
    display: flex;
    justify-content: left;
    gap: 7%;
    list-style: none;
    align-items: center;
    flex-wrap: nowrap;
    overflow: visible; /* 👈 libera o ::after */
}

.navbar li{
    white-space: nowrap;
}

.navbar .nav-link{
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 120%;
    display: inline-block;
    transition: 0.5s ease-in-out;
}

/* cria a “linha” */
.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;               /* distância abaixo do texto */
  width: 100%;
  height: 5px;                /* 👈 controla a espessura */
  background-color: var(--cor_tercearia);   /* 👈 cor da linha */
  border-radius: 999px;
  transform: scaleX(0);       /* começa invisível */
  transform-origin: left;     /* começa da esquerda */
  transition: transform 0.5s ease-in-out;
}

.navbar .nav-link:hover{
    color: var(--cor_tercearia);
}

.navbar .nav-link:hover::after{
    transform: scaleX(1);
}

/*
===============================================================================================================
Footer
===============================================================================================================
*/
footer{
    background-color: var(--footer);
    border-top: 5px var(--cor_secundaria) solid;
    display: flex;
    gap: 7%;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: -100px;
}

.rede-social{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer a{
    position: relative;
    margin-bottom: 5%;
    color: #606060;   
    font-size: 120%; 
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

footer a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: var(--cor_secundaria);
    border-radius: 999px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s ease-in-out;
}

footer a:hover{
    color: var(--cor_secundaria);
}

footer a:hover::after{
    transform: scaleX(1);
}

footer .p{
    position: relative;
    margin-bottom: -2%;
    color: #606060;   
    font-size: 120%; 
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

footer .p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: var(--cor_secundaria);
    border-radius: 999px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s ease-in-out;
}

footer .p:hover{
    color: var(--cor_secundaria);
}

footer .p:hover::after{
    transform: scaleX(1);
}

#Copy{
    color: var(--cor_secundaria);
    text-align: center;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links h4{
    color: var(--cor_secundaria);
    font-size: 135%;
    margin-bottom: 2%;
}

.diretrizes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.diretrizes h4{
    color: var(--cor_secundaria);
    font-size: 135%;
    margin-bottom: 2%;
}

.contatos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contatos h4{
    color: var(--cor_secundaria);
    font-size: 135%;
    margin-bottom: -6%;
}