:root{
    --cor_principal: #acf0a6;
    --cor_secundaria: #8DE3A4;
    --cor_tercearia: #E5C51B;
    --tamanho_fonte1: 1rem;
    --box_shadow: 8px 8px 0px 9px rgba(0, 0, 0, 0.2); 
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

/*
==========================================================================================================
Header
==========================================================================================================
*/
header{
    background-color: var(--cor_principal);
    display: flex;
    justify-content: space-between;
    padding-inline: 1%;
}

.empresa-header{
    display: flex;
    align-items: center;
    gap: 2%;
}

.logo{
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.learnquest{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 210%;
}

.navbar{
    display: flex;
    gap: 2%;
    list-style: none;
    align-items: center;
}

.navbar li{
    l
}